<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         syntaxCheck="true"
>
    <testsuites>
        <testsuite name="App Tests">
            <directory>test</directory>
        </testsuite>
    </testsuites>
</phpunit>
